server {
  listen 80;

  server_name {{ domain }};
  charset utf-8;

  root /opt/nginx/ansible/{{ domain }}/html;
  index index.html index.htm index.php;

  access_log /var/log/nginx/example.org_access.log;
  error_log /var/log/nginx/example.org_error.log;


location ~* \.php$ {
        try_files $uri = 404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        #fastcgi_pass unix:/var/run/php/php8.1-fpm.sock; # подключаем сокет php-fpm
        fastcgi_pass {{ address }}:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
